<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

</head>
<body>

<header>
    <button class="btn btn-primary"  style="  margin-left:1%; color: white; background-color:#3D0000;margin-top:1%;border: #F9F3DF; font-weight:bold;margin-bottom:1%"> <a style=" color: white;" href="http://localhost:8080/signup">Sign Up</a></button>

    <button class="btn btn-primary"  style=" color: white; background-color:#3D0000;margin-top:1%;border: #F9F3DF; font-weight:bold;margin-bottom:1%"> <a style=" color: white;" href="http://localhost:8080/login">Log in</a></button>
    <button class="btn btn-primary"  style="background-color:#3D0000; margin-top:1%;border: #F9F3DF; font-weight:bold;margin-bottom:1%"><a  style="color:white;" th:href="@{http://localhost:8080/profile(id=${user})}" > Profile</a></button>

</header>

    <main>

        <h2 style=" top: 70px; left: 30px;   text-align: center;" class="mainText ;" >WELCOME TO CODE FELLOWS SHIP</h2>

        <img style="width: 100%; position: relative" class="HeroImg" src="https://www.eschoolnews.com/files/2021/02/coding-platform-STEM-code.jpg" alt="dev" />

        <ul th:each="post : ${postList}" class="list-group" style="width: 70%; margin: auto; margin-top: 30px">
            <li class="list-group-item disabled">Post :<span th:text="${post.body}"></span><br /></li>
            <li class="list-group-item disabled">Time :<span th:text="${post.createAt}"></span><br /></li>
            <li class="list-group-item disabled">
                Posted By :<span style="display: inline-block" th:text="${post.user.username}"></span>
                <form style="float: right" th:action="@{/follow(id=${post.getApplicationUser().getId()})}" method="post">
                    <button class="btn btn-warning" type="submit">Follow</button>
                </form>
                <br />
            </li>
            <br />
        </ul>
    </main>

</body>
</html>